html {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-red: #881515;
}

.root-body {
  padding: 40px 0 0 0;
}

.root-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.root-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

.root-hero {
  margin: 30px 0 0 0;
}

.button{
  background-color: var(--main-red);
  font-size: 25px;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 86px;
  width: 100%;
}

.button-inverse {
  background-color: white;
  font-size: 25px;
  color: var(--main-red);
  border: 2px solid var(--main-red);
  padding: 10px 40px;
  border-radius: 86px;
  width: 100%;
}

.header-name {
  font-size: 33px;
  text-align: center;
  margin-bottom: 0px;
}

.title-text {
  margin-top: 0px;
  font-size: 45px;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 20px;
}

.nav-links {
  color: black;
  text-decoration: none;
}

.mobile-header {
  display: flex;
  width: 100%;
}

.projects-title {
  text-align: center;
  font-size: 45px;
}
.footer {
  margin-top: 40px;
}